@import url(../../../styles.scss);

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .page-item {
    .page-link {
      font-weight: bold;
      font-size: 3rem;
      color: var(--main-color);
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      transition: color 0.2s ease;
    }

    &.disabled .page-link {
      color: #ccc;
      pointer-events: none;
    }

    &:not(.disabled) .page-link:hover {
      color: darken(#f14b3a, 10%);
    }
  }
}
