@import url(../../../styles.scss);

.custom-footer {
  background-color:var(--main-color);
  color: #ecf0f1;
  padding: 1.5rem 1rem;
  margin-top: 4rem;
  font-size: 0.95rem;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    p {
      margin: 0 0 0.5rem;
    }

    .footer-links {
      display: flex;
      justify-content: center;
      gap: 1.5rem;

      a {
        color: #bdc3c7;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}
